/* see https://github.com/huyng/latex-simple-css */
@media only screen and (min-width: 900px) {
    body {
        margin: 10em;
        max-width: 42em;
    }
}

body {
    /* Serif options */
    /*font-family: "Times New Roman", Times, serif;*/
    /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif    */

    /*Sans Serif options */
    /*font-family: "Helvetica", Arial, Freesans, clean, sans-serif;*/
    font-family: "Helvetica Neue", Arial, Freesans, clean, sans-serif;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
    /*font-family: Verdana, Geneva, sans-serif;*/
    /*font-family: Tahoma, Geneva, sans-serif;*/
    /*font-family: Baskerville, 'Times New Roman', Times, serif;*/


    padding:1em;
    font-size: 14px;
    font-weight:300;    
    line-height: 20px;
    background:#fefefe;
    color:#333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 2em 0px 15px 0px;
}

h1 {
    color: #000;
    font-size: 2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: 1em;
}

hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

code, pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}

code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* end custom css */

div.infobox {
    border-left: 5px solid green;
    border-right: 5px solid green;
}

div.triviabox {
  border-left: 5px solid blue;
  border-right: 5px solid blue;
}

.yt-embed {
    width: 588px;
    height: 331px;

    max-width: 100%;
}
